@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-section {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#escaner-qr {
    width: 75vw;

    display: flex;
    justify-content: center;
    align-items: center;
}